@font-face {
  font-family: "Nunito";   /*Can be any text*/
  src: local("Nunito-Black"),
    url("./Fonts/Nunito-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";   /*Can be any text*/
  src: local("Nunito-Regular"),
    url("./Fonts/Nunito-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";   /*Can be any text*/
  src: local("Nunito-Bold"),
    url("./Fonts/Nunito-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito";   /*Can be any text*/
  src: local("Nunito-Medium"),
    url("./Fonts/Nunito-Medium.ttf") format("truetype");
}


:root {
  --BG: #3D405B;
  /* --incorrect: #FFFFFC; */
  --close: #F4F1DE;
  --correct:#81B29A;
  --border: #F2CC8F;
  --Keys: #E07A5F;
}
html, body {margin: 0; height: 100%;
  
   /* overflow: hidden */
  }

  html {
    height: -webkit-fill-available;
  }

body{
  display: flex; 
  flex-direction: column;
  margin: 0;
  background-image: radial-gradient(circle, var(--BG), #303248);

  background-color: var(--BG);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #F4F1DE;
  height: 101vh;
  min-height: -webkit-fill-avaliable;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

h1{
text-align: center;
line-height: 0;
padding-top: 2rem;
font-weight: 900;
}
h4{
  text-align: center;
  font-size: larger;
}

.riddleContainer{
  display: flex;
  justify-content: center;
}

.riddle{
  margin: auto;
  max-width: 420px;
  margin: 2rem;
  text-align: center;
}

span{
  margin: auto;
  text-align: center;
  font-size: larger;
}

.game{
  width: 100%;
  justify-content: center;
  display: flex;
}

.board {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.line{
  display: flex;
  gap: 5px
}

.tile {
  width: 43px;
  height: 43px;
  border: 2px solid var(--Keys);
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 4px;
  color: var(--close);
}

.darkBG{
  background-color: var(--BG);
}

.correct{
  background-color: var(--correct);
  color: var(--BG);
  border: 2px solid var(--correct);

}
.close{
  background-color: var(--close);
  border: 2px solid var(--close);

  color: var(--BG);
}
.incorrect {
  background-color: var(--incorrect);
}

.shake {
  animation: shake 0.5s;
}
@keyframes shake {
  0% { transform: translate(1px, 0px); }
  20% { transform: translate(-2px, 0px) ; }
  40% { transform: translate(2px, 0px); }
  60% { transform: translate(-2px, 0px) ; }
  80% { transform: translate(2px, 0px) ; }
  100% { transform: translate(0px, 0px) ; }
}

.keyboardContainer{
margin: auto;
display: flex;
align-items: center;
justify-content: center;

}
.rowThree{
  display: flex;
}

.keyboard{
  height: 100%;
  max-width: 420px;
  /* border-collapse: collapse; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-shrink: 3; */
  white-space:nowrap;
}



.letterKey{
  max-width: 40px;
}

.actionKey{
  max-width: 65px;
}

.key{
  border-radius: 4px;
  font-size: 25px;
  font-weight: 800;
  height: 60px;
  width: 9vw;
  padding: 5px;
  margin: 2px;
  background-color: var(--Keys);
  align-items: center;
  text-align: center;
  flex-grow: 1;
}



.play{
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bigBtn{
  width: 13vw;
}

.key:active{
  background-color: #9d8df7;
}
.currentTile{
  background-color: #9d8df7;
}

.flash{
  animation: flash 1s ease-in-out infinite;
  background: black;
  background-color: var(--Keys);
}

@keyframes flash {
  0% {
    opacity: 1;

  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.container{
  background-color: #9d8df7;
  border: 1px solid var(--border);
  border-radius: 1rem;
  display: flex;
  margin: 2rem; 
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.container h2{
  margin-top: 0;
}

.share-section{

  display: flex;
  justify-content: center;
  gap: 50px;
}

.bev{
  color: #F4F1DE;
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: baseline;
  margin-top: 10px;
}

.center{
  text-align: center;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.mw500{
  max-width: 500px;
  margin-top: 2rem;
  margin: auto;
}

.helpModal{
position: absolute;
z-index: 2;
top: 50%;
left: 50%; 
transform: translate(-50%, -50%);
width: 70%;
}

.helpSection{
  width: 100%;
}

.noShrink{
  flex-shrink: 0;
}

.noPad{
  padding: 0;
  margin: auto;
}

.helpRow{
  display: flex;
  gap: 10px;

  align-items: center;
}
.helpSection{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.backdrop{
  z-index: 0.9;
  position: absolute;
  height: 120%;
  width: 100%;
  background-color: black;
  opacity: 0.4;
  top: 0;
  overflow: hidden;
}

.banner{
  background-color: rgba(0, 0, 0, 0.149);
}

.ma{
  margin: auto;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.w500{
  width: 500px;
}

.title{
  margin: 2rem;
  font-size: 30px
}

.noPadding{
  padding: 0;
  margin: 0; 
}

.helpIcon{
  width: 100%;
  text-align: right;
  margin-right: 2rem;
}
.large{
  font-size: x-large;
}

.menuOptions{
  display: flex;
  gap: 2rem;
}

.winner{
  background-color: #9d8df7;
}

@keyframes glow {
  from {
    box-shadow: 0 0 10px var(--close);
  }
  to {
    box-shadow: 0 0 20px 1px var(--correct);
  }
}

.glow {
  animation: glow 0.5s ease-in-out infinite alternate;
}


.correctStats{
  display: flex;
  flex-direction: column;
}

.correctStats div{
  text-align: center;
  border-radius: 3px;
  background-color: #30324828;
  padding: 10px;
  margin-bottom: 10px;
}

.back{
  padding: 10px;
  border-radius: 3px;
  background-color: #30324828;
}

.correctStats div h5{
  font-size: medium;
  margin: 10px;
}
.correctStats div h4{
  font-size: x-large;
  padding: 0;
  margin: 10px;
}
h2 {

}

.riddleSpan{
  font-weight: 500;
  line-height: 30px;
}

.largeTxt{
  font-size:22px;
}
.b{
  font-weight: 700;
}
.timeContainer{
  padding: 10px;
}
.smolTxt{
  font-size: medium;
}

.btn{
  text-decoration: underline;
}

.lowMarg{
  margin: 10px;
  font-size: large;
}